.alimentation {
  color: #ff5d60;
}

.divertissement {
  color: #ffbb55;
}

.logement {
  color: #4bc0f6;
}

.transport {
  color: #4cebd3;
}

.autres {
  color: #bcbcbc;
}

.sante {
  color: #acf052;
}

.education {
  color: #f44c95;
}

.category {
  background-color: aliceblue;
}

.expense {
  background-color: white;
}

.arrow-right {
  display: inline-block;
  transform: rotate(270deg);
  transition: transform 0.2s ease-in-out;
}

.arrow-down {
  display: inline-block;
  transform: rotate(360deg);
  transition: transform 0.2s ease-in-out;
}

li {
  list-style-type: none;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


option {
  color: #242424;
}

input:focus {
  outline: #ff5d60 2px solid;
}
